.ac-datagrid--option_bar {
  height: 40px;
  border: 1px solid #d9d9d9;
  border-bottom: none;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.ac-datagrid--option_bar__freeze_togle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  cursor: pointer;
  img {
    width: 13px;
    height: 13px;
    padding-bottom: 2px;
    margin-right: 2px;
  }
  :hover {
    background-color: #d9d9d9;
  }
}
